
body {
	width:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

svg {
	width: 100%;
}

a {text-decoration: none;}


.hidden {display:none;}

.background {
	width: 100%;
	height:100%;
	background-image: url("../images/background.svg");
	position: absolute;
	background-position: bottom 0 right 0; 
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	width: 92%;
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
}

/* =========Header=========*/

.mainHeader {
	width: 100%;
	padding-bottom:1.8%;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

#logo {
	align-items: center;
	width: 30%;
}

#logo img {
	max-height:;
}

.title {
	text-align: right;
	width: 60%;
}

#title img {
	width: 100%;

}

/* =========Gallery=========*/

.divider {
	width: 100%;
	height: 34px;
	background-color: #E60EFE; 
	opacity: 80%;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 -20px -20px;  
}

.icon {
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0 0 20px 20px; 
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 10px;
	display:flex;
	justify-content: center;
	align-items: center;
}


/* =========Colours=========*/


.colorPicker{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.color{
	height: 120px;
	width: 15%;
	text-align: center;
	line-height: 120px;
	font-size: 48px;
	font-weight: bold;
	border: solid 5px;
	border-radius: 10px;
	transition: background .2s ease-in-out;
}

.color:hover {cursor: pointer;}


.pink {color: #FF71CE;}
.pink:hover {background-color: #FF71CE ;}


.blue{color: #22EAE0;}
.blue:hover {background-color: #22EAE0 ;}


.black{color: #211830;}
.black:hover {background-color: #211830 ;}


.yellow{color: #FFFB96;}
.yellow:hover {background-color: #FFFB96 ;}


.green{color: #05FFA1;}
.green:hover {background-color: #05FFA1 ;}


.purple{color: #9D0FFD;}
.purple:hover {	background-color: #9D0FFD;}


.mainFooter {
	margin: 35px 10px 8px 0;
	font-weight: bold;
	text-align: right;
	color:#FF71CE;
}
















