.img-wrapper 
{
	display: inline-block;
	width: 35%;
}

.img-wrapper > img 
{
	width: 100%;
}

.black-background
{
	background-color: black;
}

#beerGraphic:hover #lGrain, #beerGraphic:hover #rGrain
{
	fill: red;

}